* {
box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: 16px;
	margin: 0;
	color: black;
	background-color: #FFF5E8;
}

#wrapper {
	margin: 0 auto;
	padding: 10px;
	background-color: ;
	max-width: 700px;
	min-width: 300px;
	text-align: justify;
}

#header {
	background: url('../kepek/maglya.jpg');
	background-repeat: no-repeat;
	margin: 0px;
	padding: 10px;
	height: 250px;
	width: 100% ;
	content: "";
    clear: both;
    display: table;
}

h1, h2{
	display: block;
	color: orange;
}

#section {
	max-width: 100%;
	min-width: 300px;
}

#section img {
	float: left;
	max-width: 300px;
	height: auto;
	margin: 10px;
	clear: both;
}

img {
	float: right;
	max-width: 300px;
	height: auto;
	margin: 10px;
}

ul {

	list-style-image: url('../kepek/jel.png');
	margin-top: 5 px;
}

li {
	line-height: 30px;
}

#footer {
	background-color: #FFEBD0;
}